/* Error: Undefined variable.
 *    ,
 * 11 |             0px 0px 1.3px 4px $videoThumbnailSelected;
 *    |                               ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   css/filmstrip/_tile_view.scss 11:31  @import
 *   css/main.scss 75:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502              0px 0px 1.3px 4px $videoThumbnailSelected;\a    \2502                                ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   css/filmstrip/_tile_view.scss 11:31  @import\a   css/main.scss 75:9                   root stylesheet";
}
