/* Error: expected "{".
 *     ,
 * 108 |     display: none;
 *     |                  ^
 *     '
 *   css/_subject.scss 108:18  @import
 *   css/main.scss 52:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 108 \2502      display: none;\a     \2502                   ^\a     \2575 \a   css/_subject.scss 108:18  @import\a   css/main.scss 52:9        root stylesheet';
}
